{% extends "base.html" %}
{% block style %}
{{ super () }}
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}">
{% block content %}
    <div class="sampl">
        {% for x in book %}
        <a href="{{ url_for("detail_book", id = x.id ) }}">
        <img class = "images_book" src="{{ url_for('static', filename='images/'+x.img)}}"
        alt="{{x.title}}" title="{{x.title}}"></a>
        {% endfor %}
        </div>
        <a href="{{ url_for("edit_author",id = auteur.id) }}">
            <button class="btn btn-defaut" id="bouton-fav">Editer l'auteur {{ auteur.name }}</button></a>
{% endblock %}
    </body>
</html>